body{
  font-family: 'bubblegum sans';
  background-color: #cecece
}

.header {
  position: fixed;
  background-color: #cecece;
  width:100%;
  height:5rem;
  margin:0;
  top: 0px;/*oh lol*/
}
.banner {
  background-color: rgb(255, 217, 0) !important;
}

.dropdown {
  position: relative;
  background-color:red;
  padding: 10px 16px;
  margin: 0px;
  display: inline-block;
  border-radius: 10px;
  color:black;
  min-width:60px;
}

.dropdown:hover {
  background-color:darkred;
  box-shadow: 5px 5px #808080
}

.dropdown-content {
  border-radius: 10px;
  display: none;
  position: absolute;
  min-width: 50px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown:hover .dropdown-content {
  background-color: darkgray;
  display:block;
}
button {
  background-color: red;
  border-radius: 10px;
  font-family: 'Bubblegum Sans';
  padding: 10px 16px; 
}

button:hover {
  background-color:maroon;
  border-radius:10px;
}
.big {
  font-size: 500%;
  font-family: 'Audiowide';
}

.sortofbig {
  font-size: 200%;
  font-family: 'Audiowide';
}
.List-Header {
  text-align: center;
}

hr {
  width: 50%;
  border-color:black;
}